

.main {
  padding: 0px 78px 58px 40px;

  h2 {
    padding-left: 12px;
  }
}

.list {
  // display: flex;
  // flex-direction: row;
  // gap: 24px;

  .listElement {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    align-items: flex-end;
    margin-bottom: 62px;
  } 

  .listElement:nth-last-child(-n+1) {
    margin-bottom: 0px;
  }

}