

.main {
  display: flex;
  flex-direction: column;
  padding-left: 24px;

  img {
    width: 658px;
    height: 433px;
  }

  h4 {
    padding-top: 20px;
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 150%;
    color: var(--headText);
    font-weight: 400;
  }

  p {
    font-size: 16px;
    line-height: 145%;
    color: var(--bodyText);
    font-weight: 400;
  }

  .noImage {
    width: 658px;
    height: 433px;
    background-color: var(--grayText);
  }
}

.subMain {
  display: flex;
  flex-direction: column;

  img {
    width: 300px;
    height: 335px;
  }

  h4 {
    padding-top: 20px;
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 150%;
    color: var(--headText);
    font-weight: 400;
  }

  p {
    font-size: 16px;
    line-height: 145%;
    color: var(--bodyText);
    font-weight: 400;
  }

  .noImage {
    width: 300px;
    height: 335px;
    background-color: var(--grayText);
  }
}