

.text {
    font-size: 18px;
    line-height: 145%;
    font-weight: 400;
    color: var(--bodyText);
    max-width: 620px;
    margin-bottom: 24px;
    padding-left: 57px;
} 

.textCenter {
    font-size: 18px;
    line-height: 145%;
    font-weight: 400;
    color: var(--bodyText);
    max-width: 564px;
    margin-left: 496px;
}