

.main {
    display: flex;
    justify-content: space-between;
    padding-left: 52px;
    margin-bottom: 247px;
}

.left {
    flex-basis: 50%;
}

.title {
    margin-top: 155px;
    font-weight: 400;
    font-size: 45px;
    max-width: 550px;
}

.bottom {
    margin-top: 68px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 29px;
}

.image {
    // min-width: 685px;
    max-height: 585px;
    flex-basis: 50%;
}