




.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 16px;
    line-height: 145%;

    li {
        margin-right: 37px;
        margin-bottom: 29px;
        color: var(--grayText);
    }

    li:first-child {
        color: var(--headText);
    }

    li:nth-last-child(-n+1) {
        margin-right: 0px;
    }

    li:nth-last-child(-n+2) {
        margin-bottom: 0px;
    }
}

.withCircle {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.circle {
    height: 29px;
    width: 29px;
    background-color: var(--primaryColor);
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    left: -12px;
}