

.main {

}

.firstContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 152px;
}

.exampleImage {
    height: 400px;
    background-color: gray;
    width: 685px;
}

.title {
    padding-left: 40px;
    max-width: 500px;
}

.secondTitle {
    padding-left: 40px;
    max-width: 630px;
    padding-top: 100px;
}

.bigImage {
    padding-top: 58px;
    max-width: 100% ;
}

.test {
    height: 500px;
}