

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.subMain {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 25px;
}

.img {
    width: 300px;
    margin-bottom: 20px;
}

.title {
    margin-bottom: 8px;
    font-weight: 400;
    max-width: 552px;
}

.category {
    margin-bottom: 25px;
}