
.hh2 {
  padding-left: 52px;
}

.list {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: auto;
  column-gap: 18px;
  row-gap: 66px;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 112px;
}