


.bigContainer {
  width: 658px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  .img {
    width: 100%;
    height: min-content;
  }
}

.container {
  width: 385px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  .img {
    width: 100%;
    height: min-content;
  }
}

@media (max-width: 1238px) {
  .bigContainer {
    margin-left: 80px;
    padding-right: 20px;
  }
}

@media (max-width: 724px) {
  .bigContainer {
    margin-left: 0px;
  }
  .container {
    padding-right: 20px;
  }
}