

.num {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    height: 29px;
    align-items: center;
    gap: 6px;

    button {
        background-color: white;
    }
}

.green {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    height: 29px;
    align-items: center;
    gap: 6px;

    button {
        background-color: var(--cheColor);
    }
}

.arrow {
    font-size: 26px;
}