

.partners {
  padding-top: 197px;
  h2 {
    padding-left: 39px;
    padding-bottom: 126px;
  }
  img {
    width: 100%;
    max-width: calc(100% - 20px);
    padding-left: 325px;
    height: auto;
    margin-bottom: 172px;
  }
}