

.partners {
  padding-top: 197px;
  margin-bottom: 172px;
  h2 {
    padding-left: 39px;
  }
  .cnt {
    width: 1020px;
    max-width: calc(100% - 20px);
    margin: auto;
    img {
      max-width: calc(100% - 20px);
      height: auto;
    }
  }
}

@media (max-width: 724px) {
  .partners {
    padding-top: 72px;
    margin-bottom: 48px;
    h2 {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 40px;
      padding-left: 20px;
    }
  }
}