

.projects {
  padding-top: 110px;
  animation: show 0.2s;
}

@keyframes show {
  from {
    opacity: 0.1;
  } to {
    opacity: 1;
  }
}

@media (max-width: 724px) {
  .projects {
    padding-top: 48px;
  }
}