

.nav {
  display: flex;
  flex-direction: column;
  a {
    font-size: 50px;
    margin-bottom: 32px;
    font-weight: 400;
    color: #fff;
    transition: 150ms all ease-in;
  }

  a:nth-last-child(-n+1) {
    margin-bottom: 0px;
  }

  a:hover {
    margin-left: 16px;
  }
}

@media (max-width: 1190px) {
  .nav {
    a {
      font-size: 30px;
      line-height: 40px;
    }
  }
}