

.main {
  img {
    min-width: 300px;
    max-height: 335px;
    margin-bottom: 67px;
  }

  h3 {
    max-width: 400px;
    font-size: 20px;
    line-height: 145%;
    margin-bottom: 13px;
    font-weight: 400;
  }

  .p {
    font-size: 16px;
    line-height: 145%;
    font-weight: 400;
    color: var(--bodyText);
    margin-bottom: 23px;
  }
}

.science {
  padding-top: 96px;
  img {
    min-width: 300px;
    max-height: 335px;
    margin-bottom: 67px;
  }

  h3 {
    max-width: 430px;
    font-size: 20px;
    line-height: 145%;
    margin-bottom: 13px;
    font-weight: 400;
  }

  .p {
    font-size: 16px;
    line-height: 145%;
    font-weight: 400;
    color: var(--bodyText);
    margin-bottom: 23px;
  }
}