

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    img {
        max-height: 433px;
        min-width: 658px;
        margin-bottom: 20px;
    }
}

.title {
    margin-bottom: 8px;
    font-weight: 400;
    max-width: 552px;
    font-size: 20px;
    line-height: 145%;
}

.category {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 145%;
    color: var(--bodyText);
}

.test {
    background-color: blue;
}