.container {

	padding-left: 48px;

  .head {
    display: flex;
    flex-direction: row;
    padding-right: 150px;
    margin-bottom: 88px;

    h2 {
      padding-right: 186px;
    }
  }

  .subHead {
    display: flex;
    padding-top: 127px;
    gap: 100px;
  }

  .paragraph {
    width: 272px;
    line-height: 145%;
    color: var(--lightBlack);
    font-size: 18px;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    row-gap: 120px;
    column-gap: 24px;
    align-items: flex-end;
    margin-bottom: 171px;
  }
}

@media (max-width: 880px) {
	.container {
		padding-left: 24px;

		.head {
			h2 {
				padding-right: 64px;
			}
		}

		.projects {
			row-gap: 56px;
			margin-left: 0px;
		}
	}
}

@media (max-width: 740px) {
	
}