

.footer {
    display: flex;
    justify-content: space-between;
}

.leftSide {
    padding: 13px 0px 66px 58px;
    p {
        padding-left: 8px;
        color: var(--bodyText);
    }
}

.rightSide {
    padding: 37px 197px 62px 0px;
    p {
        padding-top: 44px;
        max-width: 251px;
        color: var(--grayText);
    }

    p:first-child {
        margin-right: 90px;
    }
}

.paragraphs {
    display: flex;
    img {
        height: 24px;
        width: 24px;
        margin-top: 48px;
        margin-right: 8px;
    }

    img:nth-last-child(-n+1) {
        padding-right: 0px;
    }
}

.image {
    width: 109px;
    height: 105px;
}