


.container {
  display: flex;
  flex-direction: column;
  .title {
    margin-top: 112px;
    align-self: center;
    width: 450px;
    margin-bottom: 112px;
  }
  .img {
    width: 100%;
    max-width: calc(100% + 20px - 20px);
  }
  .block {
    display: flex;
    column-gap: 96px;
    padding-right: 56px;
    margin-bottom: 144px;
    .scdimg {
      width: 719px;
      max-width: calc(100% - 20px);
    }
    .infoList {
      display: flex;
      flex-wrap: wrap; 
      column-gap: 96px;
      align-items: center;
      row-gap: 24px;
    }
  }
}

@media (max-width: 1254px) {
  .container {
    
  }
}