

.main {
  display: flex;
  align-items: center;

  .nav {
    padding-top: 29px;
  }

  button {
    background-color: #fff;
    font-size: 48px;
    padding-top: 8px;
  }
  img {
    width: 81px;
    height: 78px;
  }
}