@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--bodyText);
}

button {
    cursor: pointer;
}

h2 {
    text-transform: uppercase;
    font-size: 45px;
    line-height: 150%;
    font-weight: 400;
    margin-bottom: 62px;
}

:root {
    --headText: #000;
    --bodyText: #393939;
    --grayText: #777777;
    --primaryColor: #93B2AD;
    --secondaryColor: #BCD5D1;
}

body {
    width: 100%;
    margin: 0px auto;
    height: 400vh;
    font-family: "Inter", sans-serif;
}