@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@font-face {
  font-family: Gilroy;
  src: url(../../../Gilroy-Regular.ttf);
}
@font-face {
  font-family: Defectica;
  src: url(../../../Defectica.otf);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--bodyText);
  transition: 0.1s ease all;
}

a:hover {
  color: var(--grayText);
}

.active {
  color: var(--lightGray);
}

button {
  cursor: pointer;
}

h2 {
  text-transform: uppercase;
  font-size: 45px;
  line-height: 150%;
  font-weight: 400;
  margin-bottom: 62px;
  font-family: Defectica;
}

:root {
  --darkBlack: #000;
  --lightBlack: #393939;
  --gray: #777777;
  --lightGray: #8c8b8b;
  --active: #93b2ad;
  --default: #b0c0be;
}

body {
  width: 100%;
  margin: 0px auto;
  font-family: Gilroy, sans-serif;
  background-color: var(--active);
}

.active {
  position: relative;
  font-size: 24px;
  color: #000;
  padding-left: 32px;
  span {
    position: absolute;
    top: 6px;
    left: 12px;
    width: 16px;
    height: 16px;
    background-color: lightcoral;
    border-radius: 50%;
  }
}

header {
  height: 100px;
  background-color: lightseagreen;
}
