

.button {
  display: flex;
  background-color: inherit;
  row-gap: 5px;
  column-gap: 119px;
  transition: 0.2s all ease;
  width: 80px;

  .p {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    transition: 0.2s all ease;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;

    p {
      font-size: 20px;
      line-height: 30px;
      margin-right: 8px;
    }

    .arrow {
      position: absolute;
      font-size: 26px;
      left: 36px;
      transition: 0.2s all ease;
    }
  }
}

.button:hover {
  .p {
    color: var(--lightBlack);
  }

  div {
    .arrow {
      left: 58px;
      color: var(--lightBlack);
    }
  }
}

.text {
  display: flex;
  background-color: inherit;
  row-gap: 5px;
  column-gap: 119px;
  transition: 0.2s all ease;
  max-width: 322px;

  .p {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    transition: 0.2s all ease;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    p {
      font-size: 20px;
      line-height: 30px;
      margin-right: 8px;
    }

    .arrow {
      position: absolute;
      font-size: 26px;
      left: 36px;
      transition: 0.2s all ease;
    }
  }
}

.text:hover {
  .p {
    color: var(--lightBlack);
  }

  div {
    .arrow {
      left: 58px;
      color: var(--lightBlack);
    }
  }
}
