.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 87px;
  max-width: 100%;
  padding: 0px 57px 0px 44px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;

  .icon {
    font-size: 40px;
    font-weight: 100;
    transition: 0.2s ease all;
    color: var(--headText);
  }

  .icon:hover {
    color: var(--lightGray);
  }

  button {
    background-color: #fff;
    padding-top: 4px;
  }

  img {
    width: 81px;
    height: 78px;
  }
}